window flowbox > flowboxchild {
    background-color: white;
    color: black;
    outline-style: none;
    border-radius: 5%;
}

window flowbox > flowboxchild:selected {
    background-color: #88a867;
    padding: 5px;
}

window flowbox > flowboxchild * {
    border-radius: 5%;
}

#options_checkbox_flow > flowboxchild{
    background-color: transparent;
    color: white;
}

#options_checkbox_flow > flowboxchild > checkbutton > label {
    margin-left: 10px;
}

#import_cancel{
  border-radius: 55%;
}

#view_image_btn{
    border-style: solid;
    background: #88a867;
    color: white;
    border: none;
    border-radius: 0px 0px 10px 10px;
}

.result_text{
    padding: 2px;
    border: none;
    border-radius: 0% 0% 10% 10%;
}



/*.options :hover{
    background: none;
  }*/


#options_link * {
     background-color: #88a867;
     color: white;
     margin-top: 16px;
     margin-bottom: 16px;
     padding-top: 12px;
     padding-bottom: 12px;
     text-decoration-color: white;
     text-decoration-line: none;
 }

 #options_button{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 8px;
 }

 #options_searchentry{
    padding: 8px;
 }

 .transparent {
     background-color: transparent;
     padding: 0px;
 }
