window flowbox > flowboxchild {
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px 2px #000000cd;
    outline-style: none;
}

window flowbox > flowboxchild:selected {
    background-color: #29A3AF;
    color: black;
    padding: 5px;
}

.view_image{
    border-style: solid;
    background: #29A3AF;
    color: white;
    border: none;
    border-radius: 0px;
}

.options {
    background-color: transparent;
  }

 .transparent {
     background-color: transparent;
     padding: 0px;
 }
  