window flowbox > flowboxchild {
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px 2px #000000cd;
    outline-style: none;
    border-radius: 5%;
}

window flowbox > flowboxchild:selected {
    background-color: #29A3AF;
    padding: 5px;
}

window flowbox > flowboxchild * {
    border-radius: 5%;
}

#import_cancel{
  border-radius: 50%;
}

.view_image{
    border-style: solid;
    background: #29A3AF;
    color: white;
    border: none;
    border-radius: 0px;
}

.result_text{
    background-color: white;
    padding: 2px;
    border: none;
    border-radius: 0% 0% 10% 10%;
}

.options:not(listbox){
    background-color: transparent;
    outline-style: none;
  }

/*.options :hover{
    background: none;
  }*/


.options_button * {
     background-color: #3F3F3F;
     color: white;
     margin-top: 15px;
     padding: 10px;
     text-decoration-color: white;
     text-decoration-line: none;
 }

 .transparent {
     background-color: transparent;
     padding: 0px;
 }
